@keyframes snailAnimation {
  50% {
    transform: skew(-10deg, -2deg);
  }
}

@keyframes shellAnimation {
  50% {
    transform: translate(-15px, 3px);
  }
}

.snailHead,
.snailBody {
  animation: snailAnimation 2s infinite;
  transform-origin: center;
}

.snailShell {
  animation: shellAnimation 2s infinite;
  transform-origin: center;
}

#snail {
  position: absolute;
  z-index: 10000;
}

.snail-container {
  position: absolute;
  top: 0;
  left: 0;
  width: min-content;
  height: min-content;
}

@keyframes turn {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.turnSnail {
  animation: turn 0.05s forwards;
}

.death-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  text-align: center;
  backdrop-filter: saturate(0);
  -webkit-backdrop-filter: saturate(0);
  animation: fadeIn 0.5s ease-in-out forwards;
}

.death-text {
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 45px;
  font-family: Georgia, Times, serif;
  color: red;
  box-shadow: 0 0 80px 50px rgba(0, 0, 0, 0.7);
  z-index: 10001;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
