@keyframes snailAnimation {
  50% {
    transform: skew(-2deg, -3deg);
  }
}

@keyframes shellAnimation {
  50% {
    transform: translate(-5px, 5px);
  }
}

#snailHead,
#snailBody {
  animation: snailAnimation 3s infinite;
  transform-origin: center;
}

#snailShell {
  animation: shellAnimation 3s infinite;
  transform-origin: center;
}

#snail {
  z-index: 1000;
}

.snail-container {
  position: absolute;
  top: 0;
  left: 0;
  width: min-content;
  height: min-content;
}
