body {
  width: 250px;
  margin: 15px;
  font-family: "Century Gothic";
}

.popup-title {
  text-align: center;
}

.config-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.config-text {
  font-size: 15px;
  margin-bottom: 10px;
}

.display {
  width: 47px;
  margin-left: 7px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 15px;
}

.resetContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#resetButton {
  margin-top: 15px;
}

.button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Century Gothic";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 13px;
}

.button:hover {
  background-color: #25bc50;
}
